include ./components/components.pug
doctype html
html(lang="ru")
  include ./modules/head.pug
  body
    .wrapper
      include ./modules/header.pug
      main.main
        include ./modules/resort.pug
        include ./modules/advantages-spa.pug
        include ./modules/advantages-private.pug
        include ./modules/advantages-cafe.pug
        include ./modules/advantages-parking.pug
        include ./modules/service.pug
        include ./modules/sea.pug
        include ./modules/architectury.pug
        include ./modules/design.pug
        include ./modules/album.pug
        include ./modules/team.pug
        include ./modules/person.pug
        include ./modules/purchase.pug
        include ./modules/contacts.pug
      include ./modules/footer.pug
      include ./components/modal-plan.pug
      include ./components/modal-album.pug
      include ./components/modal-purchase.pug
      include ./components/modal-safety.pug
      include ./components/modal-contacts.pug
      include ./components/header-modal.pug
      .modal-close-bg
      
    