section.advantages.advantages-cafe
  .container
    .advantages__inner
      .advantages__content
        .advantages__content-box
          h3.advantages__title 3 ресторана
          p.advantages__text С&nbsp;высококлассным обслуживанием, запоминающимся интерьером и&nbsp;летними открытыми терасами с&nbsp;панорамными видами на&nbsp;морские закаты
        .advantages__content-box
          h3.advantages__title ПРОСТОРНЫЙ БАНКЕТЫЙ ЗАЛ
          p.advantages__text Где для вас организуют грандиозное торжественное мероприятие, званый обед или ужин с&nbsp;высококласным обслуживанием и&nbsp;индивидуальным банкетным меню
        a.advantages__link.download-plan-btn(href="#") Скачать план территории
  .advantages__image
    img(src="images/advantages/3.jpg", alt="")
      