.advantages.advantages-parking
  .container
    .advantages__inner
      .advantages__content
        .advantages__content-box
          h3.advantages__title Парковая территория
          p.advantages__text От&nbsp;Ginzburg Architects, наполненная реликтовыми цветущими круглый год растениями и&nbsp;арт-объектами.
        .advantages__content-box
          h3.advantages__title 6 бассейнов 
          p.advantages__text Включая спортивный плавательный и&nbsp;круглогодичный открытый с&nbsp;пул-баром.
        a.advantages__link.download-plan-btn(href="#") Скачать план территории
  .advantages__image
    img(src="images/advantages/4.jpg", alt="")