section.advantages.advantages-private
  .container
    .advantages__inner
      .advantages__content
        .advantages__content-box
          h3.advantages__title ЧАСТНЫЙ ОБОРУДОВАННЫЙ ПЛЯЖ
          p.advantages__text С&nbsp;лаундж-зонами, мягкими шезлонгами, уютными бунгало на&nbsp;большие компании, тропическими душевыми и&nbsp;даже баром, где в&nbsp;наличие большой выбор прохладительных напитков
        .advantages__content-box
          h3.advantages__title РАВЗЛЕКАТЕЛЬНО-ИГРОВОЙ ЦЕНТР ДЛЯ ДЕТЕЙ
          p.advantages__text С&nbsp;аттракционами из&nbsp;лучших развлекательных центров и&nbsp;парков мира, включая скалодром и&nbsp;VR-зону
        a.advantages__link.download-plan-btn(href="#") Скачать план территории
  .advantages__image
    img(src="images/advantages/2.jpg", alt="")
      