.advantages.advantages-spa
  .container
    .advantages__inner
      .advantages__content
        .advantages__content-box
          h3.advantages__title СПА-центр
          p.advantages__text Крупнейший на&nbsp;Черноморском побережье <br> с&nbsp;welness-программами, сауной и&nbsp;хамамом
        .advantages__content-box
          h3.advantages__title Фитнес-центр
          p.advantages__text С&nbsp;крытым спортивным бассейном и&nbsp;высокотехнологичным оборудованием от&nbsp;ведущих брендов
        a.advantages__link.download-plan-btn(href="#") Скачать план территории
    p.advantages__bottom-text  &laquo;The Well&raquo;&nbsp;&mdash; премиальный спа-комплекс в&nbsp;Норвегии, <br> созданный бюро Thermarium
  .advantages__video
    img(src="images/advantages/1.jpg", alt="")
    p.advantages__bottom-text &laquo;The Well&raquo;&nbsp;&mdash; премиальный спа-комплекс в&nbsp;Норвегии, <br> созданный бюро Thermarium
    
  