section.album
  .container
    .album__inner 
      .album__content
        h3.album__title Выберите вашу резиденцию в&nbsp;альбоме планировочных решений
        a.album__btn.album__button(href='#') Скачать альбом планировочных решений
      .album__image 
        img(src="images/album.png", alt="")
      .album__image--sm
        img(src="images/album-sm.png", alt="")
      a.album__btn--sm.album__button(href='#') Скачать альбом