section.architectury
  .architectury__inner 
    p.architectury__subtitle.subtitle Архитектура
    h2.architectury__title Британская эстетика в&nbsp;Сочи
    .architectury__content
      .architectury__content-box
        p.architectury__text.text Лондонское бюро с&nbsp;200-летней историей AHR заложило основу архитектуры проекта Volna, которая впоследствии была завершена бюро МОА.
        p.architectury__text.text Фасад отделан панелями из&nbsp;стеклофибробетона&nbsp;&mdash; высокотехнологичного материала, повторяющего свойства натурального камня, но&nbsp;более практичного в&nbsp;создании новой формы.
        p.architectury__text.text Volna Residences&nbsp;&mdash; первый проект в&nbsp;Сочи, использующий этот дорогостоящий материал в&nbsp;строительстве.
      .architectury__image 
        img(src="images/architectury.jpg", alt="")