section.contacts#contacts
  .container 
    .contacts__inner 
      .contacts__content 
        p.contacts__subtitle.subtitle Контакты
        h3.contacts__title Познакомьтесь с&nbsp;комплексом лично и&nbsp;оцените уровень сервиса в&nbsp;нашем отделе продаж
        img.contacts__image(src="images/contacts.jpg", alt="")
        p.contacts__text Внимание к&nbsp;клиенту&nbsp;&mdash; всегда на&nbsp;первом месте. Посмотрите презентацию комплекса под чашечку кофе, прогулятесь по&nbsp;территории и&nbsp;ощутите масштаб проекта.
        button.contacts__btn.presentation-btn(href='#') <span class='hilight'></span> узнать цену