.deal
  .container
    .deal__inner
      h2.deal__title Удобство сделки
      p.deal__text Каждый клиент&nbsp;&mdash; особенный, поэтому мы предусмотрели самые разные сценарии покупки. Вот только часть из&nbsp;них:
      ul.deal__list
        li.deal__list-item Наличный расчёт
        li.deal__list-item Безналичный расчёт
        li.deal__list-item Ипотека
        li.deal__list-item Субсидированная ипотека
        li.deal__list-item Рассрочка
  img.deal__image(src="images/purchase/3.jpg", alt="")
