section.design#design
  .container
    .design__inner
      //- p.design__subtitle.subtitle Дизайн
      h2.design__title Готовая <br> дизанерская отделка
      .design__content 
        p.design__text.text В&nbsp;дизайне, как в&nbsp;лучших традициях премиум-класса, преобладают натуральные материалы и&nbsp;фактуры, органично вписывающиеся в&nbsp;окружающий природный ландшафт. 
        p.design__text.text Резиденции сдаются с&nbsp;дизайнерской отделкой премиального уровня: натуральные мрамор, камень и&nbsp;дерево, декоративная штукатурка.
        p.design__text.text Вам не&nbsp;захочется менять ровным счетом ничего, потому что мы&nbsp;отобрали для вас лучшее от&nbsp;ведущих итальянских производителей и&nbsp;фабрик.
      //- - let count = 1;
      //- ul.design__partners-list
      //-   while count < 10
      //-     li.design__partners-item
      //-       img(src=`images/partners/${count}.png`, alt="")
      //-       - count += 1;