footer.footer
  .container 
    .footer__inner 
      h4.footer__company Volna Residences
      p.footer__text Застройщик AR Group & Nedvex Group
      p.footer__info ИНН 2367005416, <br> ОГРН 1182375084561, КПП 236701001