head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Volna Residences Официальный сайт застройщика
  link(rel="stylesheet" href="css/animate.css")
  link(rel="stylesheet" href="css/style.min.css")
  link(rel="shortcut icon", href="images/favicon.png", type="image/x-icon")
  script(src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js" type="text/javascript")
  script(src="https://cdn.jsdelivr.net/npm/jquery.maskedinput@1.4.1/src/jquery.maskedinput.min.js")
  script(defer src='js/wow.min.js')
  script(defer src='js/main.min.js')