section.person
  .person__wrapper
    .person__name <strong>Юлия Галимова</strong> Основатель Nedvex
    .container 
      .person__content
        p.person__text Превосходить самые требовательные ожидания, выпуская продукт наивысшего качества, заложено в&nbsp;ДНК застройщика Nedvex Development.
        p.person__text Все решения в&nbsp;строительстве нацелены на&nbsp;то, чтобы жители резиденций всегда были довольны качеством продукта и&nbsp;уровнем сервиса, а&nbsp;инвесторы получали стабильный доход.
        .person__name <strong>Юлия Галимова</strong> Основатель Nedvex
      .person__object
        .person__object-content
          p.person__object-content-subtitle Другие проекты Nedvex
          p.person__object-content-title Моне <span>Сдан</span>
          p.person__object-content-desc Комплекс бизнес-класса на&nbsp;первой береговой
          p.person__object-content-text Усилили концепцию так, что к&nbsp;сдаче комплекс превзошёл ожидания клиентов, а&nbsp;цена за&nbsp;2&nbsp;года выросла в&nbsp;4&nbsp;раза: с&nbsp;220&nbsp;000 до&nbsp;890&nbsp;000&nbsp;₽/м&sup2;
        img(src="images/mone.png", alt="mone object image")
    img(src="images/mone-sm.png", alt="mone object image").person__object-image
