section.purchase
  .container
    .purchase__inner 
      .purchase__content
        h2.purchase__title Выгодная инвестиция
        p.purchase__text Заработайте&nbsp;52% годовых на&nbsp;перепродаже номера или получайте более 10&nbsp;млн от&nbsp;сдачи в&nbsp;аренду
        p.purchase__bottom-text Оставьте заявку и&nbsp;получите точный расчет инвестиционной привлекательности Volna Residences
        a.purchase__btn(href="#") Получить расчет
  img(src="images/purchase/1.jpg", alt="").purchase__image
  include ./safety.pug
  include ./deal.pug