section.resort#about
  .container 
    .resort__inner 
      h2.resort__title Ваш личный курорт
      p.resort__text Volna Residences&nbsp;&mdash; это возможность жить на&nbsp;морском побережье и&nbsp;пользоваться богатой гостиничной инфраструктурой комплекса Volna Resort Hotel &amp;&nbsp;SPA.
      .resort__info 
        .resort__info-item
          span 8 га
          p территория комплекса
        .resort__info-item
          span 70% 
          p площади комплекса занимает курортная инфраструктура
      a.resort__btn.download-plan-btn(href='#') Скачать план территории