.safety#docs
  .container
    .safety__inner
      h2.safety__title Безопасная покупка
      p.safety__text Мы&nbsp;работаем по&nbsp;ФЗ-214 и&nbsp;через эскроу-счета. Это&nbsp;значит, что вы&nbsp;и&nbsp;ваши деньги защищены, а&nbsp;схема покупки максимально прозрачна.
      a.safety__btn(href="#") Скачать все документы