section.sea 
  .container 
    .sea__inner 
      .sea__content 
        .sea__title.title 50 метров до моря
        ul.sea__list 
          li.sea__list-item
            p <strong>6 км</strong> до аэропорта
          li.sea__list-item
            p <strong>11 км</strong> до Олимпийского парка
          li.sea__list-item
            p <strong>45 км</strong> до Красной Поляны