section.service
  .container
    .service__inner
      .service__content
        h2.service__title Безупречный сервис 5&nbsp;звёзд
        p.service__text Сервис Volna Resort Hotel &amp;&nbsp;Spa&nbsp;&mdash; эксклюзивное преимущество, которое делает жизнь резидентов в&nbsp;Volna Residences беспрецедентно комфортной
        p.service__text Включая спортивный плавательный и&nbsp;круглогодичный открытый с&nbsp;пул-баром.
        p.service__subtext Сервисное меню a-la-carte закроет бытовые нужды и&nbsp;освободит время на&nbsp;семью и&nbsp;личные интересы:
        ul.service__list 
          li.service__list-item Консьерж-сервис 24/7
          li.service__list-item Доставка блюд из ресторанов и баров отеля
          li.service__list-item Уборка
          li.service__list-item Прачечная / Химчистка
          li.service__list-item Валет-паркинг  
  .service__image
    img(src="images/service.jpg", alt="")