section.team#team
  .container 
    p.team__subtitle.subtitle Команда
    .team__title.title Volna Residences – творение исключительных
    p.team__text Для создания проекта такого уровня мы&nbsp;собрали команду лучших в&nbsp;своем деле
    ul.team__list
      li.team__list-item
        .team__list-title
          span Nedvex Development
        p.team__list-text застройщик
      li.team__list-item
        .team__list-title
          span Exsclusive
        p.team__list-text дизайн интерьера
      li.team__list-item
        .team__list-title
          span Архитектурное бюро <br> MOA
        p.team__list-text финальный проект архитектуры
      li.team__list-item
        .team__list-title.team-title
          span AHR 
        p.team__list-text концепция архитектуры
      li.team__list-item
        .team__list-title
          span Ginzburg Architects 
        p.team__list-text благоустройство территории
      li.team__list-item
        .team__list-title.team-title
          span Haast
        p.team__list-text дизайн лобби-бара, балрума и детского центра
      li.team__list-item
        .team__list-title
          span Культура Света
        p.team__list-text освещение фасадов

    
