form.header__content-form.form(action="#")
  p.form__title Получите презентацию резиденции
  p.form__text Заполните форму
  include ../components/form-inputs.pug
  button.form__btn.presentation-btn(type='submit') <span class='hilight'></span> узнать цену
  p.form__copy Нажимая кнопку я соглашаюсь <br> <a href='https://nedvex.ru/privacy' target='_blank'>с политикой конфиденциальности</a> 