nav.menu.menu--sm
  ul.menu__list
    each value, index in {'О проекте' : 'about', 'Дизайн': 'design', 'Команда': 'team', 'Документы': 'docs', 'Контакты': 'contacts'}
      li.menu__list-item 
        a.menu__list-link(href="#" + value)= index
  .header__top-contacts 
    a.header__top-adress(href="https://yandex.ru/maps/-/CCURJZC81B" target="_blank") Сочи, ул. Ленина, 217а 
    .header__contacts 
      a.header__top-contacts-number(href="tel:79628860056") +7 962 886 00 56
      span Сейчас работаем
    button.header__top-btn(type='button') Перезвоните мне