.modal.modal-safety
  .modal__inner 
    button.modal__close.modal-safety__close(type='button')
      img(src="images/close.svg", alt="close icon")
    .modal__title Оставьте заявку <br> и&nbsp;получите документы <br> Volna&nbsp;Residences
    p.modal__text Заполните форму
    form.modal-safety__form.modal__form(action="#")
      include ./form-inputs.pug  
      button.modal__btn(type='submit') Получить документы
    p.modal__copy Нажимая кнопку я соглашаюсь <br> <a href='https://nedvex.ru/privacy' target='_blank'>с политикой конфиденциальности</a>